## Curso Big Data #2- Pruebas Iniciales

In [ ]:
# Importing packages
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType 
from pyspark.sql.types import ArrayType, DoubleType, BooleanType
from pyspark.sql.functions import col,array_contains

In [12]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('abc').getOrCreate()

In [22]:
dataframe2 = spark.read.option("header",True) \
              .csv("C:/Users/pc/pruebas/artists_billboard.csv")

In [23]:
dataframe2.show()

+---+--------------------+--------------------+-------------+------------+------------------+-----------+----------+-----------+---+--------------+
| id|               title|              artist|         mood|       tempo|             genre|artist_type|chart_date|durationSeg|top|anioNacimiento|
+---+--------------------+--------------------+-------------+------------+------------------+-----------+----------+-----------+---+--------------+
|  0|Small Town Throwdown|BRANTLEY GILBERT ...|     Brooding|Medium Tempo|       Traditional|       Male|  20140628|      191.0|  0|        1975.0|
|  1|           Bang Bang|JESSIE J, ARIANA ...|   Energizing|Medium Tempo|               Pop|     Female|  20140816|      368.0|  0|        1989.0|
|  2|              Timber|PITBULL featuring...|      Excited|Medium Tempo|             Urban|      Mixed|  20140118|      223.0|  1|        1993.0|
|  3|     Sweater Weather|   THE NEIGHBOURHOOD|     Brooding|Medium Tempo|Alternative & Punk|       Male|  20140104|      206.0|  0|        1989.0|
|  4|           Automatic|     MIRANDA LAMBERT|     Yearning|Medium Tempo|       Traditional|     Female|  20140301|      232.0|  0|            .0|
|  5|Where Is At (Yep ...|        DUSTIN LYNCH|       Upbeat|Medium Tempo|       Traditional|       Male|  20140531|      219.0|  0|        1990.0|
|  6|Single Ladies (Pu...|             BEYONCE|         Cool|  Slow Tempo|             Urban|     Female|  20081213|       43.0|  1|        1981.0|
|  7|Me And My Broken ...|              RIXTON|       Urgent|  Fast Tempo|               Pop|       Male|  20140412|      557.0|  0|        1973.0|
|  8|       I Luh Ya Papi|JENNIFER LOPEZ fe...|   Aggressive|Medium Tempo|             Urban|     Female|  20140329|      182.0|  0|        1969.0|
|  9|           Chocolate|            THE 1975|     Yearning|Medium Tempo|Alternative & Punk|       Male|  20140208|      347.0|  0|            .0|
| 10|               Fancy|IGGY AZALEA featu...|   Energizing|Medium Tempo|             Urban|     Female|  20140607|      197.0|  1|        1974.0|
| 11|   Take Me To Church|              HOZIER|Sophisticated|Medium Tempo|Alternative & Punk|       Male|  20140830|      223.0|  0|            .0|
| 12|           Confident|JUSTIN BIEBER fea...|   Energizing|  Fast Tempo|               Pop|       Male|  20140215|      258.0|  0|        1992.0|
| 13|             V. 3005|    CHILDISH GAMBINO|      Defiant|Medium Tempo|             Urban|       Male|  20140628|      302.0|  0|            .0|
| 14|           Lifestyle|RICH GANG featuri...|      Sensual|Medium Tempo|             Urban|     Female|  20140802|      182.0|  0|        1977.0|
| 15|       Teenage Dream|          KATY PERRY|      Excited|Medium Tempo|               Pop|     Female|  20100918|      235.0|  1|        1984.0|
| 16|         Hello Kitty|       AVRIL LAVIGNE|   Aggressive|Medium Tempo|               Pop|     Female|  20140510|      222.0|  0|        1984.0|
| 17| Underneath The Tree|      KELLY CLARKSON|     Yearning|Medium Tempo|               Pop|     Female|  20140104|      199.0|  0|        1985.0|
| 18|       Know Yourself|               DRAKE|         Cool|Medium Tempo|             Urban|       Male|  20150307|      282.0|  0|        1986.0|
| 19|        Drink A Beer|          LUKE BRYAN|   Empowering|Medium Tempo|       Traditional|       Male|  20140104|      242.0|  0|        1976.0|
+---+--------------------+--------------------+-------------+------------+------------------+-----------+----------+-----------+---+--------------+
only showing top 20 rows

In [24]:
dataframe1 = spark.read.csv ("C:/Users/pc/pruebas/artists_billboard.csv", inferSchema=True, header=True)

In [25]:
dataframe1.show()

+---+--------------------+--------------------+-------------+------------+------------------+-----------+----------+-----------+---+--------------+
| id|               title|              artist|         mood|       tempo|             genre|artist_type|chart_date|durationSeg|top|anioNacimiento|
+---+--------------------+--------------------+-------------+------------+------------------+-----------+----------+-----------+---+--------------+
|  0|Small Town Throwdown|BRANTLEY GILBERT ...|     Brooding|Medium Tempo|       Traditional|       Male|  20140628|      191.0|  0|        1975.0|
|  1|           Bang Bang|JESSIE J, ARIANA ...|   Energizing|Medium Tempo|               Pop|     Female|  20140816|      368.0|  0|        1989.0|
|  2|              Timber|PITBULL featuring...|      Excited|Medium Tempo|             Urban|      Mixed|  20140118|      223.0|  1|        1993.0|
|  3|     Sweater Weather|   THE NEIGHBOURHOOD|     Brooding|Medium Tempo|Alternative & Punk|       Male|  20140104|      206.0|  0|        1989.0|
|  4|           Automatic|     MIRANDA LAMBERT|     Yearning|Medium Tempo|       Traditional|     Female|  20140301|      232.0|  0|           0.0|
|  5|Where Is At (Yep ...|        DUSTIN LYNCH|       Upbeat|Medium Tempo|       Traditional|       Male|  20140531|      219.0|  0|        1990.0|
|  6|Single Ladies (Pu...|             BEYONCE|         Cool|  Slow Tempo|             Urban|     Female|  20081213|       43.0|  1|        1981.0|
|  7|Me And My Broken ...|              RIXTON|       Urgent|  Fast Tempo|               Pop|       Male|  20140412|      557.0|  0|        1973.0|
|  8|       I Luh Ya Papi|JENNIFER LOPEZ fe...|   Aggressive|Medium Tempo|             Urban|     Female|  20140329|      182.0|  0|        1969.0|
|  9|           Chocolate|            THE 1975|     Yearning|Medium Tempo|Alternative & Punk|       Male|  20140208|      347.0|  0|           0.0|
| 10|               Fancy|IGGY AZALEA featu...|   Energizing|Medium Tempo|             Urban|     Female|  20140607|      197.0|  1|        1974.0|
| 11|   Take Me To Church|              HOZIER|Sophisticated|Medium Tempo|Alternative & Punk|       Male|  20140830|      223.0|  0|           0.0|
| 12|           Confident|JUSTIN BIEBER fea...|   Energizing|  Fast Tempo|               Pop|       Male|  20140215|      258.0|  0|        1992.0|
| 13|             V. 3005|    CHILDISH GAMBINO|      Defiant|Medium Tempo|             Urban|       Male|  20140628|      302.0|  0|           0.0|
| 14|           Lifestyle|RICH GANG featuri...|      Sensual|Medium Tempo|             Urban|     Female|  20140802|      182.0|  0|        1977.0|
| 15|       Teenage Dream|          KATY PERRY|      Excited|Medium Tempo|               Pop|     Female|  20100918|      235.0|  1|        1984.0|
| 16|         Hello Kitty|       AVRIL LAVIGNE|   Aggressive|Medium Tempo|               Pop|     Female|  20140510|      222.0|  0|        1984.0|
| 17| Underneath The Tree|      KELLY CLARKSON|     Yearning|Medium Tempo|               Pop|     Female|  20140104|      199.0|  0|        1985.0|
| 18|       Know Yourself|               DRAKE|         Cool|Medium Tempo|             Urban|       Male|  20150307|      282.0|  0|        1986.0|
| 19|        Drink A Beer|          LUKE BRYAN|   Empowering|Medium Tempo|       Traditional|       Male|  20140104|      242.0|  0|        1976.0|
+---+--------------------+--------------------+-------------+------------+------------------+-----------+----------+-----------+---+--------------+
only showing top 20 rows

In [26]:
dataframe2.printSchema()

root
 |-- id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- artist: string (nullable = true)
 |-- mood: string (nullable = true)
 |-- tempo: string (nullable = true)
 |-- genre: string (nullable = true)
 |-- artist_type: string (nullable = true)
 |-- chart_date: string (nullable = true)
 |-- durationSeg: string (nullable = true)
 |-- top: string (nullable = true)
 |-- anioNacimiento: string (nullable = true)

In [28]:
dataframe3= dataframe1.select(dataframe1.id, dataframe1.title)

In [29]:
dataframe3.show()

+---+--------------------+
| id|               title|
+---+--------------------+
|  0|Small Town Throwdown|
|  1|           Bang Bang|
|  2|              Timber|
|  3|     Sweater Weather|
|  4|           Automatic|
|  5|Where Is At (Yep ...|
|  6|Single Ladies (Pu...|
|  7|Me And My Broken ...|
|  8|       I Luh Ya Papi|
|  9|           Chocolate|
| 10|               Fancy|
| 11|   Take Me To Church|
| 12|           Confident|
| 13|             V. 3005|
| 14|           Lifestyle|
| 15|       Teenage Dream|
| 16|         Hello Kitty|
| 17| Underneath The Tree|
| 18|       Know Yourself|
| 19|        Drink A Beer|
+---+--------------------+
only showing top 20 rows

In [36]:
dataframe4=dataframe1.selectExpr("tempo", "durationSeg", "tempo='Medium Tempo' AS nueva_columna")

In [37]:
dataframe4.show()

+------------+-----------+-------------+
|       tempo|durationSeg|nueva_columna|
+------------+-----------+-------------+
|Medium Tempo|      191.0|         true|
|Medium Tempo|      368.0|         true|
|Medium Tempo|      223.0|         true|
|Medium Tempo|      206.0|         true|
|Medium Tempo|      232.0|         true|
|Medium Tempo|      219.0|         true|
|  Slow Tempo|       43.0|        false|
|  Fast Tempo|      557.0|        false|
|Medium Tempo|      182.0|         true|
|Medium Tempo|      347.0|         true|
|Medium Tempo|      197.0|         true|
|Medium Tempo|      223.0|         true|
|  Fast Tempo|      258.0|        false|
|Medium Tempo|      302.0|         true|
|Medium Tempo|      182.0|         true|
|Medium Tempo|      235.0|         true|
|Medium Tempo|      222.0|         true|
|Medium Tempo|      199.0|         true|
|Medium Tempo|      282.0|         true|
|Medium Tempo|      242.0|         true|
+------------+-----------+-------------+
only showing top 20 rows

In [39]:
dataframe5=dataframe4.drop("durationSeg")

In [40]:
dataframe5.show()

+------------+-------------+
|       tempo|nueva_columna|
+------------+-------------+
|Medium Tempo|         true|
|Medium Tempo|         true|
|Medium Tempo|         true|
|Medium Tempo|         true|
|Medium Tempo|         true|
|Medium Tempo|         true|
|  Slow Tempo|        false|
|  Fast Tempo|        false|
|Medium Tempo|         true|
|Medium Tempo|         true|
|Medium Tempo|         true|
|Medium Tempo|         true|
|  Fast Tempo|        false|
|Medium Tempo|         true|
|Medium Tempo|         true|
|Medium Tempo|         true|
|Medium Tempo|         true|
|Medium Tempo|         true|
|Medium Tempo|         true|
|Medium Tempo|         true|
+------------+-------------+
only showing top 20 rows

In [41]:
dataframe6=dataframe1.filter(dataframe1.genre =="Traditional")

In [42]:
dataframe6.show()

+---+--------------------+--------------------+----------+------------+-----------+-----------+----------+-----------+---+--------------+
| id|               title|              artist|      mood|       tempo|      genre|artist_type|chart_date|durationSeg|top|anioNacimiento|
+---+--------------------+--------------------+----------+------------+-----------+-----------+----------+-----------+---+--------------+
|  0|Small Town Throwdown|BRANTLEY GILBERT ...|  Brooding|Medium Tempo|Traditional|       Male|  20140628|      191.0|  0|        1975.0|
|  4|           Automatic|     MIRANDA LAMBERT|  Yearning|Medium Tempo|Traditional|     Female|  20140301|      232.0|  0|           0.0|
|  5|Where Is At (Yep ...|        DUSTIN LYNCH|    Upbeat|Medium Tempo|Traditional|       Male|  20140531|      219.0|  0|        1990.0|
| 19|        Drink A Beer|          LUKE BRYAN|Empowering|Medium Tempo|Traditional|       Male|  20140104|      242.0|  0|        1976.0|
| 27|Doin' What She Likes|       BLAKE SHELTON|Empowering|Medium Tempo|Traditional|       Male|  20140201|      195.0|  0|           0.0|
| 28|That's My Kind Of...|          LUKE BRYAN|    Gritty|Medium Tempo|Traditional|       Male|  20140104|      285.0|  0|        1976.0|
| 31|      Take Your Time|            SAM HUNT|  Yearning|Medium Tempo|Traditional|       Male|  20150117|      197.0|  0|        1984.0|
| 33|Something In The ...|    CARRIE UNDERWOOD|  Romantic|Medium Tempo|Traditional|     Female|  20141018|      184.0|  0|           0.0|
| 38|        Take Me Home|CASH CASH featuri...|  Romantic|Medium Tempo|Traditional|       Male|  20140201|      271.0|  0|           0.0|
| 46|Gonna Know We Wer...|        JASON ALDEAN|  Yearning|Medium Tempo|Traditional|       Male|  20141004|      233.0|  0|        1977.0|
| 62|Meanwhile Back At...|TIM McGRAW featur...|  Yearning|Medium Tempo|Traditional|      Mixed|  20140614|      259.0|  0|           0.0|
| 63| This Is How We Roll|FLORIDA GEORGIA L...|Empowering|Medium Tempo|Traditional|       Male|  20140301|      367.0|  0|        1987.0|
| 69|           Invisible|        HUNTER HAYES|Empowering|  Slow Tempo|Traditional|       Male|  20140208|      223.0|  0|        1986.0|
| 70|Sweet Little Some...|        JASON ALDEAN|  Brooding|Medium Tempo|Traditional|       Male|  20140920|      262.0|  0|        1979.0|
| 82|        Sunny And 75|         JOE NICHOLS|  Yearning|Medium Tempo|Traditional|       Male|  20140104|      300.0|  0|        1970.0|
| 84|      Two Night Town|        JASON ALDEAN|Empowering|Medium Tempo|Traditional|       Male|  20140927|        0.0|  0|           0.0|
| 98|    Drunk Last Night|      ELI YOUNG BAND|  Yearning|Medium Tempo|Traditional|       Male|  20140104|      263.0|  0|        1973.0|
|100|        Day Drinking|     LITTLE BIG TOWN|    Urgent|Medium Tempo|Traditional|      Mixed|  20140621|      329.0|  0|        1971.0|
|101|                Yeah|         JOE NICHOLS|  Yearning|Medium Tempo|Traditional|       Male|  20140510|        0.0|  0|        1981.0|
|107|     Close Your Eyes|            PARMALEE|Empowering|Medium Tempo|Traditional|       Male|  20141011|      272.0|  0|        1981.0|
+---+--------------------+--------------------+----------+------------+-----------+-----------+----------+-----------+---+--------------+
only showing top 20 rows