## Curso Big Data #1- Pruebas iniciales

In [ ]:
# importing module
import pyspark

import findspark
findspark.init()

In [37]:
import pandas

In [2]:
# importing sparksession from
# pyspark.sql module
from pyspark.sql import SparkSession

In [5]:
# creating sparksession and giving
# an app name
#spark = SparkSession.builder.appName('sparkdf').getOrCreate()

spark = (SparkSession
   .builder
   .master('local[*]') # add this
   .appName("sparkdf")
   .getOrCreate())

In [6]:
# list of employee data with 5 row values
data = [["1", "sravan", "company 1"], ["2", "ojaswi", "company 2"],["3", "bobby", "company 3"],["4", "rohith", "company 2"],["5", "gnanesh", "company 1"]]

In [7]:
# specify column names
columns = ['Employee ID', 'Employee NAME', 'Company Name']

In [8]:
# creating a dataframe from the lists of data
dataframe = spark.createDataFrame(data, columns)

In [9]:
print(dataframe)

DataFrame[Employee ID: string, Employee NAME: string, Company Name: string]

In [10]:
dataframe.show()

+-----------+-------------+------------+
|Employee ID|Employee NAME|Company Name|
+-----------+-------------+------------+
|          1|       sravan|   company 1|
|          2|       ojaswi|   company 2|
|          3|        bobby|   company 3|
|          4|       rohith|   company 2|
|          5|      gnanesh|   company 1|
+-----------+-------------+------------+